html {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*, *:before, *:after {
		box-sizing: inherit;
}

/** {
	border: 1px solid black;
}*/

/* HEADER */

.main {
	width: 60%;
	margin: 0 auto;
}

.title-wrap {
	padding-top: 50px;
}

body {
	background-color: #23B6B6;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	text-align: center;
	color: #FFF;
}


/* FORM SAND BUTTON STYLING */

.form-wrap input, button {
-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}


.form-wrap {
	margin: 0 auto;
	margin-top: -25px;
	width: 60%;
	padding: 20px;
	text-align: center;
}

.form-wrap button[type="submit"] {
	margin-left: 10px;
	font-size: 1em;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #70dada;
	padding: 20px;
	border: solid 5px #70dada;
  	transition: border 0.3s;
}
.form-wrap button[type="submit"]:focus {
	border: solid 5px #007c7c;
}

/* How would I change the hover property of this submit button? */

.form-wrap input[type="text"] {
  width: 70%;
  padding: 20px;
  font-size: 1em;
  border: solid 5px #70dada;
  transition: border 0.3s;
}
.form-wrap input[type="text"]:focus {
  border: solid 5px #007c7c;
}


/* LIST ITEMS */

.items-wrap {
	margin-top: 40px;
}


ul {
	list-style: none;
	padding-left: 0; /*why is this adding padding?*/
}

.items li {
	color: #FFF;
	font-size: 1.2em;
	padding: 5% 6%;
	width: 100%;
	background-color: #70dada;
}


.items li:nth-of-type(2n) {
  background-color: #007c7c;
}

/* ICONS */

.icons, .checked-icons  {
	float: right;
}

.unchecked-box, .checked-box {
	margin-right: 10px;
}

.checked-items {
	text-decoration: line-through;
	opacity: 0.15;
    filter: alpha(opacity=15);

}

a {
	color: #FFF;
}

/* FOOTER */

.footer-wrap {
	margin-top: 50px;
	margin-bottom: 60px;
	text-align: center;
}

.footer-wrap button[type="reset"] { 
	font-size: 1em;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #007c7c;
	padding: 20px 40px;
}

a.reset-link:hover {
	background-color: #007c7c;;
}



/* RESPONSIVE CHANGES */

@media only screen and (max-width: 1060px) {

	h1 {
		font-size: 3em;
	}

}

@media only screen and (max-width: 760px) {

	.form-wrap button[type="submit"] {
		margin-top:20px;
		margin-left: 0px;
		padding: 15px 15px;
		width: 100%;
	}

	.form-wrap input[type="text"] {
	  width: 100%;
	}

	.items li {
		font-size: 1em; 
	}


	.items-wrap {
		margin-top: -10px;
	}

	.main {
		width: 80%;
	}

}

/*@media only screen and (max-width: 695px) {

	
	.items-wrap {
		margin-top: -10px;
	}

	.main {
		width: 80%;
	}
}*/

@media only screen and (max-width: 400px) {
		h1 {
		font-size: 2.5em;
	}

}


